li .active {
    border-bottom: 3px #f60817;
    border-bottom-style: ridge;
    display: inline-block;
}

/* @media (max-width:1040px) {
    .menu {
        position: fixed;
        top: 80px;
        right: 0;
        padding: 0 2.5rem;
        background: #fff;
        color: #030E29;
    }
} */

